extends layout 

block content 
  h1(class="m-auto text-center")=title
  p Estes são os pets cadastrados no nosso banco de dados: 
  br
  ul(class="list-disc ml-8")
    each pet in pets 
      li
        a(href=`/registry/pet/${pet._id}`) #{pet.name}