extends layout 

block content 
  h1(class="m-auto text-center")=title 
  p Estes são os tutores cadastrados no nosso banco de dados:
  br
  ul(class="list-disc ml-8")
    each tutor in tutors 
      li 
        a(href=`/registry/tutor/${tutor._id}`) #{tutor.name}