/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&display=swap");

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
  color: #00b7ff;
}

a:hover {
  font-weight: 800;
}

h1 {
  font-size: 3rem !important;
  font-weight: 800 !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

input,
select {
  padding: 4px !important;
  border-radius: 4px;
}

.btn {
  background-color: #0c9785 !important;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100px;
  transition: background 300ms;
}

.btn:hover {
  background-color: #db8e61 !important;
}
